.model-selector {
    position: absolute;
    max-width: 300px;
    overflow: auto;
}

.model-info {
    position: absolute;
    left: 300px;
}

table, th, td {
    border: 1px solid black;
}

.input-field-error {
    border: #FF0000 2px solid;
}