{% load staticfiles %}
{% load jsonify %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'main.css' %}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="http://fb.me/react-0.11.1.js"></script>

    {% comment %}For production JSX compiler should be used instead of transformer{% endcomment %}
    <script src="http://fb.me/JSXTransformer-0.11.1.js"></script>
    <script>
        var MODELS = {{ models|jsonify|safe }};
    </script>
    <script type="text/jsx" src="{% static 'script.js' %}"></script>
</head>
<body>
</body>
</html>